<h1 id="readme-for-the-combi-matlaboctave-minimum-example">README For the COMBI Matlab/Octave minimum example</h1>
<h2 id="requirements">Requirements</h2>
<ul>
<li>The minimum COMBI method scripts (should come together with this README)</li>
<li>Example data in the PLink Binary format. Most easily, use the <em>tutorial</em> data-set from 'Tutorial_GWASpi.zip', which you can obtain from <a href="http://www.gwaspi.org/?page_id=182">the GWASpi homepage</a>.</li>
<li>libLinear, compiled for your system and Matlab/Octave version. You can get it from <a href="http://www.csie.ntu.edu.tw/~cjlin/liblinear/#download">the lib-linear homepage</a>.</li>
</ul>
<h2 id="instructions">Instructions</h2>
<ol style="list-style-type: decimal">
<li>set-up libLinear
<ul>
<li>get the source (see Requirements)</li>
<li>extract the source</li>
<li>start Matlab/Octave</li>
<li><code>cd libLinearSrcDir/matlab</code></li>
<li><p>run in Matlab/Octave: <code>make</code></p>
(<em>NOTE</em>: For this to work in Octave, you need the optional package 'liboctave-dev' installed)</li>
<li>copy over the generated '*.mex*' files to the 'combi_scripts/matlab/' or 'combi_scripts/octave/' directory.</li>
</ul></li>
<li>prepare the data: extract the archive (see Requirements) into 'data/'</li>
<li>if you do not use the suggested data, adjust the 'combi_run_with_tutorial_matrix.m' script with the correct file names.</li>
<li>in Matlab/Octave, <code>cd</code> to the directory containing 'combi.m'</li>
<li>eventually adjust the parameters for the COMBI method in the file 'combi_set_params.m'</li>
<li>run in Matlab/Octave: <code>combi\_run\_with\_tutorial\_matrix;</code></li>
</ol>
